[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
markdown = "*"
markdown-cjk-spacing = "*"
markdown-include = "*"
markupsafe = "*"
mkdocs = "*"
mkdocs-bootstrap = "*"
mkdocs-bootswatch = "*"
mkdocs-material = {path = "./mkdocs-material"}
mkdocs-minify-plugin = "*"
pygments = "*"
pygobject = "*"
pymdown-extensions = "*"
pynacl = "*"
python-dateutil = "*"
python-markdown-math = "*"
pytz = "*"
pyxdg = "*"
pyyaml = "*"
reportlab = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.9"
