Markdown
markdown-cjk-spacing
markdown-include
MarkupSafe
mkdocs
mkdocs-bootstrap
mkdocs-bootswatch
mkdocs-material
mkdocs-minify-plugin
Pygments
pygobject
pymdown-extensions
PyNaCl
python-dateutil
python-markdown-math
pytz
pyxdg
PyYAML
reportlab
requests